.sphere{
    display: block;
    background-color: black;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 0;
    background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}
