.portfolio{
    position: relative;
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: rgb(61, 61, 61);
        font-size: 36px;
        flex: 1;

       .progressBar{
        height: 10px;
        background-color: white;
       }
    }
    

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .wrapper{
         

        max-width: 1366px;
        width: 80vw;
        height: 100%;
        margin: auto;
        padding:100px;
        display: flex;
        gap: 50px;
        align-items: center;
        // justify-content: center;
        justify-content: space-evenly;
        
      
        .imageContainer{
            flex: 1; 
            img{
                // width: 30vw;
                width: 30vw;
                object-fit: cover;
               
            }
        }

    
            .textContainer{
             flex: 1;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             gap: 30px;

             h2{
                font-size: 2em;
             }

             p{
                color: gray;
                font-size: 15px;
             }

             button{
                background-color: rgb(52, 52, 51);
                border: none;
                border-radius: 10px;
                padding: 10px;
                color: white;
                cursor: pointer;
                width: 50%;
             }
            }
        }

       
    }
}

@media screen and (max-width: 700px) {

  
  .wrapper{
    flex-direction: column;
    border: 2px solid white;
    margin-top: auto;

    .imageContainer{
        flex: 1;
        // height: 50%;

        
        img{
           
           width: 100vw;
            height: 100%;
            border: 2px solid yellow;
            object-fit: cover;
        }
    }

    .textContainer{
        h2{
            font-size: 5px;
           
        }
    }
  }
}