

.skills {
  width: 100vw;
  padding: 40px 0;
 background-color:#1a1527;
  margin-top: -10vh;

}

@keyframes lay{
  0%{
    opacity: 0;
    transform: translateX(-300px);

  }
  50%{
    opacity: 1;
   
  }
}


.wrapper {
  max-width: 1300px;
  margin: 10vh auto;
  @media (max-width: 800px) {
    margin: 0 auto;
  }


 
}

.textContainer {
  text-align: center;
  margin-bottom: 30px;
 
}

h2 {
  font-size:4em;
  color:#372f4f;
  font-weight: 700;
  
}

p {
  font-size: 1.3em;
  font-weight: 500;
  color: #fff7f7;
}

.boxes {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  // border: 2px solid blue;
  margin: auto;
 
  

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;

  }
}


.tilting-card-wrapper {
  display:grid;
  justify-content:center;
  align-items: center;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #1a1527;
  width: 20vw;
  position: relative;
  margin: 10px auto;
  // border: 1px solid red;

  @media (max-width: 800px) {
    width: 70vw;
 
   }


  .tilting-card-content {
    --perspective: 500px;
    --rotateX: 0deg;
    --rotateY: 0deg;
    --angle: 10deg;
    height:400px;
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 1fr 4fr;
    box-shadow: rgba(37, 7, 135, 0.271) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    justify-content: space-between;
    margin: 10px;
    width: 20vw;
    aspect-ratio: 2/1;
    transform: perspective(var(--perspective)) rotateX(var(--rotateX))
      rotateY(var(--rotateY));
  
    transition: transform 350ms ease;


    
  @media (max-width: 800px) {
   width: 70vw;

  }

    .title{
      text-align: center;
      color:gray;
      h4{
        font-size: 1.5rem;
        margin-top: 20px;
      }
    }

    

    .skills{
      display: flex;
      flex-wrap: wrap;
      justify-content:flex-start;
      align-items: center;
      width:20vw;

      @media (max-width: 800px) {
        width: 70vw;
     
       }
     
       .skill{
      // background-color: #ffffff;
      border: 1px solid transparent;
      border-radius:0.375rem;
      background-color:#14131A;
        height: 20px;
        padding:1.25rem;
        text-align: center;
        color: rgb(255, 252, 252);
      //  margin: auto;
      margin-left: 30px;
       display: flex;
       align-items: center;

       
       

       }

       
    }
  }

}



.mouse-position-tracker {
  position: absolute;
  inset: 0;
  z-index: 2;

}


.mouse-position-tracker:nth-child(1):hover ~ .tilting-card-content {
  --rotateX: var(--angle);
  --rotateY: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(2):hover ~ .tilting-card-content {
  --rotateX: var(--angle);
}

.mouse-position-tracker:nth-child(3):hover ~ .tilting-card-content {
  --rotateX: var(--angle);
  --rotateY: var(--angle);
}

.mouse-position-tracker:nth-child(4):hover ~ .tilting-card-content {
  --rotateY: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(5):hover ~ .tilting-card-content {
  --rotateY: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(6):hover ~ .tilting-card-content {
  --rotateY: var(--angle);
}

.mouse-position-tracker:nth-child(7):hover ~ .tilting-card-content {
  --rotateX: calc(var(--angle) * -1);
  --rotateY: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(8):hover ~ .tilting-card-content {
  --rotateX: calc(var(--angle) * -1);
}

.mouse-position-tracker:nth-child(9):hover ~ .tilting-card-content {
  --rotateX: calc(var(--angle) * 1);
  --rotateY: var(--angle);
}


// 1st,4th,7th
.mouse-position-tracker:nth-of-type(3n-2) {
  // background:yellow;
  grid-column: 1/2;
}

// 2nd,5th,8th
.mouse-position-tracker:nth-of-type(3n-1) {
  // background:green;
  grid-column: 2/3;
}

// 3rd,6th,9th
.mouse-position-tracker:nth-of-type(3n) {
  // background: red;
  grid-column: 3/4;
}

// 1,2,3
.mouse-position-tracker:nth-child(n + 1):nth-child(-n + 3) {
  // background: purple !important;
  grid-row: 1/2;
}

// 4,5,6
.mouse-position-tracker:nth-child(n + 4):nth-child(-n + 6) {
  // background: purple !important;
  grid-row: 2/3;
}

// 7,8,9
.mouse-position-tracker:nth-child(n + 7):nth-child(-n + 9) {
  // background: purple !important;
  grid-row: 3/4;
}
