
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
     color: white;
     width: 100vw;
     overflow-x: hidden;
    p{
        color: black;
    }
}
a{
    text-decoration: none;
    color: inherit;
}

section{
    // margin-left: 5vw;
}