// html{
    
//     scrollbar-color:red green;
//     scrollbar-width: thin;
// }

// html::-webkit-scrollbar{
//     width:0.5vw;
//     color: white;
// }

// html::-webkit-scrollbar-thumb{
//     background-color: red;
  
// }
// html::-webkit-scrollbar-thumb:hover{
//     background-color: rgb(187, 158, 158);
// }

// html::-webkit-scrollbar-track{
//     background-color: green;
// }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    // background-color:#000000;
    color: rgb(12, 12, 12);
}
a{
    text-decoration: none;
    color: inherit;
}
section{
    // height:100vh;
    // height: max-content;
    // scroll-snap-align:center;
}


.parallax_wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
  

    .intro_screen{
        height: 100vh;
        background-color: tomato;
    }

    .outro_screen{
        height:100vh;
        background-color: teal;
    }

    .parallax_group{
        position: relative;
        height: 100vh;
        transform-style: preserve-3d;
       
        .parallax_layer{
            position: absolute;
            inset:0;
            
        }
        .base_layer{
            transform: translateZ(-300px) scale(2);
        }

        .mid-layer{
            transform: translateZ(0);
        }
        .top_layer{
            transform: translateZ(210px) scale(0.3);
        }
    }

    #intro{
      z-index: 0;
    }

    #group-1{
z-index: -1;
    }

    #Services> .base_layer{
 background-color: rgb(93, 89, 90);
    }
    #group-2{

    }

    #group-2 > .mid-layer{
        background-color: yellow;
    }

    #outro{

    }
}