.globe {
  
  position: absolute;
  left: 0;
  top: 30%;
  // margin-left: 20px;
  z-index: 1;

  .container {
    width: 250px;
    height: 100px;
    background-color:#29213c;
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
   border-radius: 0 100px 100px 0;

    .content {
      width: 150px;
      height: 100px;
      font-size: 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .outer {
      width: 80px;
      height: 80px;
      position: relative;
      background-color: whitesmoke;
      border-radius: 50%;

      #earth {
        position: absolute;
        transform: translate(16%, 16%);
        height: 60px;
        width: 60px;

        background: radial-gradient(
            circle,
            rgba(84, 77, 122, 0.8) 0%,
            rgba(2, 1, 2, 0.8) 65%,
            rgba(42, 49, 69, 0.8) 100%
          ),
          url('../../assets//globe.avif')
            0 0 repeat;

        border-radius: 50%;
        background-size: 140px;
        animation: rotate 25s linear infinite;
        animation-direction: normal;
        transition: transform 200ms linear;
        transform-style: preserve-3d;
        box-shadow: inset 2px 0 1px 1px rgb(16, 15, 15);
      }
    }
  }
}

@keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 150px 0;
  }
}
